// color 
//color cube
$woodsmoke: #121117;
$white: #ffffff;
$mid-grey: #69696d;
$blue-lagoon: #038384;
$silver-sand: #bcbdbd;
$fountain-blue: #52bbbb;
$tussock: #bd9542;
$cafe-royale: #74370e;

// median cut 
$gray-nurse: #e6ece8;
$shark: #191c1e;
$kabul: #604f42;
$breaker-bay: #609d9f;
$smalt-blue: #59838c;

//materiaò design
$blue-chil: #16928e;
$sea-nymph: #719a9c;
$quincy: #5d412a;
$merlin: #403a36;
$bermuda: #7fd2d5;



